@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
	background-color: rgb(230, 0, 0);
}

* {
	font-family: Outfit, Verdana, sans-serif;
}

.changa-one-regular {
	font-family: "Changa One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

input.radio {
	appearance: none;
	width: 1rem;
	height: 1rem;

	border-radius: 50%;
	border: 1px solid gray;
	transition: 0.2s all linear;
}

input.radio:checked {
	border: 3px solid gray;
}
